--
-- PostgreSQL database dump
--

\restrict t2bI47bOuzL6BVmMV1AbQEPkgA3YvrquCV7xuNd1l6qLGndPMY86aZgarBHaWdf

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: miuser
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = now();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.set_updated_at() OWNER TO miuser;

--
-- Name: upsert_price_rule(uuid, text, text, integer, uuid); Type: FUNCTION; Schema: public; Owner: miuser
--

CREATE FUNCTION public.upsert_price_rule(p_source_id uuid, p_package_group text, p_booking_type text, p_cpm_euro_cent integer, p_format_id uuid DEFAULT NULL::uuid) RETURNS text
    LANGUAGE plpgsql
    AS $$
DECLARE
    existing_cent INTEGER;
BEGIN
    SELECT cpm_euro_cent INTO existing_cent
    FROM price_rules
    WHERE package_group = p_package_group
      AND booking_type = p_booking_type
      AND valid_until IS NULL;

    IF NOT FOUND THEN
        INSERT INTO price_rules
            (source_id, format_id, package_group, booking_type, cpm_euro_cent)
        VALUES
            (p_source_id, p_format_id, p_package_group, p_booking_type, p_cpm_euro_cent);
        RETURN 'inserted';
    END IF;

    IF existing_cent = p_cpm_euro_cent THEN
        RETURN 'unchanged';
    END IF;

    -- Preis hat sich ge├ñndert: alte Zeile schlie├ƒen, neue er├╢ffnen.
    UPDATE price_rules
    SET valid_until = now()
    WHERE package_group = p_package_group
      AND booking_type = p_booking_type
      AND valid_until IS NULL;

    INSERT INTO price_rules
        (source_id, format_id, package_group, booking_type, cpm_euro_cent)
    VALUES
        (p_source_id, p_format_id, p_package_group, p_booking_type, p_cpm_euro_cent);
    RETURN 'updated';
END;
$$;


ALTER FUNCTION public.upsert_price_rule(p_source_id uuid, p_package_group text, p_booking_type text, p_cpm_euro_cent integer, p_format_id uuid) OWNER TO miuser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ad_formats; Type: TABLE; Schema: public; Owner: miuser
--

CREATE TABLE public.ad_formats (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    source_id uuid NOT NULL,
    format_key text NOT NULL,
    name text NOT NULL,
    device text NOT NULL,
    description text,
    ctr_pct numeric(5,2),
    programmatic text,
    rating_ctr smallint,
    rating_viewability smallint,
    rating_size smallint,
    rating_interactivity smallint,
    rating_customisability smallint,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ad_formats_device_check CHECK ((device = ANY (ARRAY['stationary'::text, 'mobile'::text, 'multiscreen'::text]))),
    CONSTRAINT ad_formats_rating_ctr_check CHECK (((rating_ctr >= 1) AND (rating_ctr <= 5))),
    CONSTRAINT ad_formats_rating_customisability_check CHECK (((rating_customisability >= 1) AND (rating_customisability <= 5))),
    CONSTRAINT ad_formats_rating_interactivity_check CHECK (((rating_interactivity >= 1) AND (rating_interactivity <= 5))),
    CONSTRAINT ad_formats_rating_size_check CHECK (((rating_size >= 1) AND (rating_size <= 5))),
    CONSTRAINT ad_formats_rating_viewability_check CHECK (((rating_viewability >= 1) AND (rating_viewability <= 5)))
);


ALTER TABLE public.ad_formats OWNER TO miuser;

--
-- Name: brands; Type: TABLE; Schema: public; Owner: miuser
--

CREATE TABLE public.brands (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.brands OWNER TO miuser;

--
-- Name: channel_portals; Type: TABLE; Schema: public; Owner: miuser
--

CREATE TABLE public.channel_portals (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    channel_id uuid NOT NULL,
    brand_id uuid NOT NULL,
    sub_areas text[],
    stationary boolean DEFAULT false NOT NULL,
    mobile_avail text DEFAULT 'no'::text NOT NULL,
    CONSTRAINT channel_portals_mobile_avail_check CHECK ((mobile_avail = ANY (ARRAY['yes'::text, 'only_mew'::text, 'no'::text])))
);


ALTER TABLE public.channel_portals OWNER TO miuser;

--
-- Name: channels; Type: TABLE; Schema: public; Owner: miuser
--

CREATE TABLE public.channels (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    source_id uuid NOT NULL,
    name text NOT NULL,
    reach_stationary_mio numeric(6,2),
    reach_mobile_mio numeric(6,2),
    reach_multiscreen_mio numeric(6,2),
    demo_male_pct smallint,
    demo_employed_pct smallint,
    demo_higher_edu_pct smallint,
    demo_hhne_3000_plus_pct smallint,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT channels_demo_employed_pct_check CHECK (((demo_employed_pct >= 0) AND (demo_employed_pct <= 100))),
    CONSTRAINT channels_demo_hhne_3000_plus_pct_check CHECK (((demo_hhne_3000_plus_pct >= 0) AND (demo_hhne_3000_plus_pct <= 100))),
    CONSTRAINT channels_demo_higher_edu_pct_check CHECK (((demo_higher_edu_pct >= 0) AND (demo_higher_edu_pct <= 100))),
    CONSTRAINT channels_demo_male_pct_check CHECK (((demo_male_pct >= 0) AND (demo_male_pct <= 100)))
);


ALTER TABLE public.channels OWNER TO miuser;

--
-- Name: format_assets; Type: TABLE; Schema: public; Owner: miuser
--

CREATE TABLE public.format_assets (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    format_id uuid NOT NULL,
    asset_name text NOT NULL
);


ALTER TABLE public.format_assets OWNER TO miuser;

--
-- Name: format_booking_options; Type: TABLE; Schema: public; Owner: miuser
--

CREATE TABLE public.format_booking_options (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    format_id uuid NOT NULL,
    option_name text NOT NULL
);


ALTER TABLE public.format_booking_options OWNER TO miuser;

--
-- Name: format_combinations; Type: TABLE; Schema: public; Owner: miuser
--

CREATE TABLE public.format_combinations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    format_id uuid NOT NULL,
    pairs_well_with text NOT NULL
);


ALTER TABLE public.format_combinations OWNER TO miuser;

--
-- Name: format_exclusions; Type: TABLE; Schema: public; Owner: miuser
--

CREATE TABLE public.format_exclusions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    format_id uuid NOT NULL,
    exclusion text NOT NULL
);


ALTER TABLE public.format_exclusions OWNER TO miuser;

--
-- Name: pipeline_runs; Type: TABLE; Schema: public; Owner: miuser
--

CREATE TABLE public.pipeline_runs (
    id integer NOT NULL,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    finished_at timestamp with time zone,
    status text DEFAULT 'running'::text NOT NULL,
    notes text,
    CONSTRAINT pipeline_runs_status_check CHECK ((status = ANY (ARRAY['running'::text, 'done'::text, 'failed'::text])))
);


ALTER TABLE public.pipeline_runs OWNER TO miuser;

--
-- Name: pipeline_runs_id_seq; Type: SEQUENCE; Schema: public; Owner: miuser
--

CREATE SEQUENCE public.pipeline_runs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pipeline_runs_id_seq OWNER TO miuser;

--
-- Name: pipeline_runs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: miuser
--

ALTER SEQUENCE public.pipeline_runs_id_seq OWNED BY public.pipeline_runs.id;


--
-- Name: price_rules; Type: TABLE; Schema: public; Owner: miuser
--

CREATE TABLE public.price_rules (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    source_id uuid NOT NULL,
    format_id uuid,
    package_group text NOT NULL,
    booking_type text NOT NULL,
    cpm_euro_cent integer NOT NULL,
    valid_from timestamp with time zone DEFAULT now() NOT NULL,
    valid_until timestamp with time zone,
    CONSTRAINT price_rules_cpm_euro_cent_check CHECK (((cpm_euro_cent >= 3000) AND (cpm_euro_cent <= 12000))),
    CONSTRAINT price_rules_cpm_nonneg CHECK ((cpm_euro_cent > 0))
);


ALTER TABLE public.price_rules OWNER TO miuser;

--
-- Name: review_queue; Type: TABLE; Schema: public; Owner: miuser
--

CREATE TABLE public.review_queue (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    source_id uuid NOT NULL,
    queued_at timestamp with time zone DEFAULT now() NOT NULL,
    error_type text NOT NULL,
    error_detail text NOT NULL,
    raw_response text,
    resolved boolean DEFAULT false NOT NULL,
    resolved_at timestamp with time zone,
    resolved_by text
);


ALTER TABLE public.review_queue OWNER TO miuser;

--
-- Name: source_documents; Type: TABLE; Schema: public; Owner: miuser
--

CREATE TABLE public.source_documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    run_id integer NOT NULL,
    url text NOT NULL,
    filename text,
    doc_type text NOT NULL,
    content_hash text NOT NULL,
    scraped_at timestamp with time zone DEFAULT now() NOT NULL,
    extraction_ok boolean DEFAULT false NOT NULL,
    CONSTRAINT source_documents_doc_type_check CHECK ((doc_type = ANY (ARRAY['pdf'::text, 'html_spec'::text])))
);


ALTER TABLE public.source_documents OWNER TO miuser;

--
-- Name: pipeline_runs id; Type: DEFAULT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.pipeline_runs ALTER COLUMN id SET DEFAULT nextval('public.pipeline_runs_id_seq'::regclass);


--
-- Data for Name: ad_formats; Type: TABLE DATA; Schema: public; Owner: miuser
--



--
-- Data for Name: brands; Type: TABLE DATA; Schema: public; Owner: miuser
--



--
-- Data for Name: channel_portals; Type: TABLE DATA; Schema: public; Owner: miuser
--



--
-- Data for Name: channels; Type: TABLE DATA; Schema: public; Owner: miuser
--



--
-- Data for Name: format_assets; Type: TABLE DATA; Schema: public; Owner: miuser
--



--
-- Data for Name: format_booking_options; Type: TABLE DATA; Schema: public; Owner: miuser
--



--
-- Data for Name: format_combinations; Type: TABLE DATA; Schema: public; Owner: miuser
--



--
-- Data for Name: format_exclusions; Type: TABLE DATA; Schema: public; Owner: miuser
--



--
-- Data for Name: pipeline_runs; Type: TABLE DATA; Schema: public; Owner: miuser
--

COPY public.pipeline_runs (id, started_at, finished_at, status, notes) FROM stdin;
1	2026-06-14 00:43:34.492148+00	\N	running	\N
2	2026-06-14 00:43:34.54482+00	\N	running	\N
3	2026-06-14 00:44:40.393819+00	2026-06-14 00:45:48.999059+00	done	\N
4	2026-06-14 00:45:55.876776+00	2026-06-14 00:45:55.917801+00	done	\N
5	2026-06-14 00:55:39.860255+00	2026-06-14 00:57:27.957999+00	done	\N
6	2026-06-14 00:57:30.223409+00	2026-06-14 00:57:30.285933+00	done	\N
7	2026-06-14 01:05:15.234672+00	\N	running	\N
\.


--
-- Data for Name: price_rules; Type: TABLE DATA; Schema: public; Owner: miuser
--



--
-- Data for Name: review_queue; Type: TABLE DATA; Schema: public; Owner: miuser
--

COPY public.review_queue (id, source_id, queued_at, error_type, error_detail, raw_response, resolved, resolved_at, resolved_by) FROM stdin;
02a0f551-2e57-40d0-9790-78a6377eaef9	cecce7d1-62ef-41d7-8810-6c829cda42e1	2026-06-14 00:43:34.519517+00	extractor_error	Test-Fehler	\N	f	\N	\N
\.


--
-- Data for Name: source_documents; Type: TABLE DATA; Schema: public; Owner: miuser
--



--
-- Name: pipeline_runs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: miuser
--

SELECT pg_catalog.setval('public.pipeline_runs_id_seq', 7, true);


--
-- Name: ad_formats ad_formats_format_key_key; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.ad_formats
    ADD CONSTRAINT ad_formats_format_key_key UNIQUE (format_key);


--
-- Name: ad_formats ad_formats_pkey; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.ad_formats
    ADD CONSTRAINT ad_formats_pkey PRIMARY KEY (id);


--
-- Name: brands brands_name_key; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.brands
    ADD CONSTRAINT brands_name_key UNIQUE (name);


--
-- Name: brands brands_pkey; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.brands
    ADD CONSTRAINT brands_pkey PRIMARY KEY (id);


--
-- Name: channel_portals channel_portals_channel_id_brand_id_key; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.channel_portals
    ADD CONSTRAINT channel_portals_channel_id_brand_id_key UNIQUE (channel_id, brand_id);


--
-- Name: channel_portals channel_portals_pkey; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.channel_portals
    ADD CONSTRAINT channel_portals_pkey PRIMARY KEY (id);


--
-- Name: channels channels_name_key; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.channels
    ADD CONSTRAINT channels_name_key UNIQUE (name);


--
-- Name: channels channels_pkey; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.channels
    ADD CONSTRAINT channels_pkey PRIMARY KEY (id);


--
-- Name: format_assets format_assets_format_id_asset_name_key; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.format_assets
    ADD CONSTRAINT format_assets_format_id_asset_name_key UNIQUE (format_id, asset_name);


--
-- Name: format_assets format_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.format_assets
    ADD CONSTRAINT format_assets_pkey PRIMARY KEY (id);


--
-- Name: format_booking_options format_booking_options_format_id_option_name_key; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.format_booking_options
    ADD CONSTRAINT format_booking_options_format_id_option_name_key UNIQUE (format_id, option_name);


--
-- Name: format_booking_options format_booking_options_pkey; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.format_booking_options
    ADD CONSTRAINT format_booking_options_pkey PRIMARY KEY (id);


--
-- Name: format_combinations format_combinations_format_id_pairs_well_with_key; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.format_combinations
    ADD CONSTRAINT format_combinations_format_id_pairs_well_with_key UNIQUE (format_id, pairs_well_with);


--
-- Name: format_combinations format_combinations_pkey; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.format_combinations
    ADD CONSTRAINT format_combinations_pkey PRIMARY KEY (id);


--
-- Name: format_exclusions format_exclusions_format_id_exclusion_key; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.format_exclusions
    ADD CONSTRAINT format_exclusions_format_id_exclusion_key UNIQUE (format_id, exclusion);


--
-- Name: format_exclusions format_exclusions_pkey; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.format_exclusions
    ADD CONSTRAINT format_exclusions_pkey PRIMARY KEY (id);


--
-- Name: pipeline_runs pipeline_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.pipeline_runs
    ADD CONSTRAINT pipeline_runs_pkey PRIMARY KEY (id);


--
-- Name: price_rules price_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.price_rules
    ADD CONSTRAINT price_rules_pkey PRIMARY KEY (id);


--
-- Name: review_queue review_queue_pkey; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.review_queue
    ADD CONSTRAINT review_queue_pkey PRIMARY KEY (id);


--
-- Name: source_documents source_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.source_documents
    ADD CONSTRAINT source_documents_pkey PRIMARY KEY (id);


--
-- Name: idx_ad_formats_device; Type: INDEX; Schema: public; Owner: miuser
--

CREATE INDEX idx_ad_formats_device ON public.ad_formats USING btree (device);


--
-- Name: idx_ad_formats_is_active; Type: INDEX; Schema: public; Owner: miuser
--

CREATE INDEX idx_ad_formats_is_active ON public.ad_formats USING btree (is_active);


--
-- Name: idx_channel_portals_brand_id; Type: INDEX; Schema: public; Owner: miuser
--

CREATE INDEX idx_channel_portals_brand_id ON public.channel_portals USING btree (brand_id);


--
-- Name: idx_channel_portals_channel_id; Type: INDEX; Schema: public; Owner: miuser
--

CREATE INDEX idx_channel_portals_channel_id ON public.channel_portals USING btree (channel_id);


--
-- Name: idx_price_rules_format_id; Type: INDEX; Schema: public; Owner: miuser
--

CREATE INDEX idx_price_rules_format_id ON public.price_rules USING btree (format_id);


--
-- Name: idx_review_queue_resolved; Type: INDEX; Schema: public; Owner: miuser
--

CREATE INDEX idx_review_queue_resolved ON public.review_queue USING btree (resolved) WHERE (resolved = false);


--
-- Name: idx_source_documents_run_id; Type: INDEX; Schema: public; Owner: miuser
--

CREATE INDEX idx_source_documents_run_id ON public.source_documents USING btree (run_id);


--
-- Name: idx_source_documents_url; Type: INDEX; Schema: public; Owner: miuser
--

CREATE INDEX idx_source_documents_url ON public.source_documents USING btree (url);


--
-- Name: uq_price_rules_active; Type: INDEX; Schema: public; Owner: miuser
--

CREATE UNIQUE INDEX uq_price_rules_active ON public.price_rules USING btree (package_group, booking_type) WHERE (valid_until IS NULL);


--
-- Name: uq_source_documents_ok; Type: INDEX; Schema: public; Owner: miuser
--

CREATE UNIQUE INDEX uq_source_documents_ok ON public.source_documents USING btree (url, content_hash) WHERE (extraction_ok = true);


--
-- Name: ad_formats trg_ad_formats_updated_at; Type: TRIGGER; Schema: public; Owner: miuser
--

CREATE TRIGGER trg_ad_formats_updated_at BEFORE UPDATE ON public.ad_formats FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: channels trg_channels_updated_at; Type: TRIGGER; Schema: public; Owner: miuser
--

CREATE TRIGGER trg_channels_updated_at BEFORE UPDATE ON public.channels FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: ad_formats ad_formats_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.ad_formats
    ADD CONSTRAINT ad_formats_source_id_fkey FOREIGN KEY (source_id) REFERENCES public.source_documents(id);


--
-- Name: channel_portals channel_portals_brand_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.channel_portals
    ADD CONSTRAINT channel_portals_brand_id_fkey FOREIGN KEY (brand_id) REFERENCES public.brands(id);


--
-- Name: channel_portals channel_portals_channel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.channel_portals
    ADD CONSTRAINT channel_portals_channel_id_fkey FOREIGN KEY (channel_id) REFERENCES public.channels(id) ON DELETE CASCADE;


--
-- Name: channels channels_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.channels
    ADD CONSTRAINT channels_source_id_fkey FOREIGN KEY (source_id) REFERENCES public.source_documents(id);


--
-- Name: format_assets format_assets_format_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.format_assets
    ADD CONSTRAINT format_assets_format_id_fkey FOREIGN KEY (format_id) REFERENCES public.ad_formats(id) ON DELETE CASCADE;


--
-- Name: format_booking_options format_booking_options_format_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.format_booking_options
    ADD CONSTRAINT format_booking_options_format_id_fkey FOREIGN KEY (format_id) REFERENCES public.ad_formats(id) ON DELETE CASCADE;


--
-- Name: format_combinations format_combinations_format_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.format_combinations
    ADD CONSTRAINT format_combinations_format_id_fkey FOREIGN KEY (format_id) REFERENCES public.ad_formats(id) ON DELETE CASCADE;


--
-- Name: format_exclusions format_exclusions_format_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.format_exclusions
    ADD CONSTRAINT format_exclusions_format_id_fkey FOREIGN KEY (format_id) REFERENCES public.ad_formats(id) ON DELETE CASCADE;


--
-- Name: price_rules price_rules_format_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.price_rules
    ADD CONSTRAINT price_rules_format_id_fkey FOREIGN KEY (format_id) REFERENCES public.ad_formats(id);


--
-- Name: price_rules price_rules_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.price_rules
    ADD CONSTRAINT price_rules_source_id_fkey FOREIGN KEY (source_id) REFERENCES public.source_documents(id);


--
-- Name: review_queue review_queue_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.review_queue
    ADD CONSTRAINT review_queue_source_id_fkey FOREIGN KEY (source_id) REFERENCES public.source_documents(id);


--
-- Name: source_documents source_documents_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: miuser
--

ALTER TABLE ONLY public.source_documents
    ADD CONSTRAINT source_documents_run_id_fkey FOREIGN KEY (run_id) REFERENCES public.pipeline_runs(id);


--
-- PostgreSQL database dump complete
--

\unrestrict t2bI47bOuzL6BVmMV1AbQEPkgA3YvrquCV7xuNd1l6qLGndPMY86aZgarBHaWdf

